@{
    ViewData["Title"] = "Second experiment";
}


<form method="post">
    <button name="button_price">@ViewBag.Value</button>
</form>

<a class="btn flex-column-reverse" type="submit" href="/home/MainMenu">Main</a>

